@import './../../scss/variables';

.root {
	position: relative;

	> * {
		transition: 0.1s;
	}
}

.input {
	font-size: 1rem;
	max-width: 20rem;
	padding: 0.5rem 19px;
	border: 1px solid #c1c1c1;
	background-color: white;
	border-radius: 0.5rem;
	flex: 1 1 15rem;

	&:focus {
		border: 2px solid $orange;
	}
}

.icon {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	cursor: pointer;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}
